
.border{
    color: gray;
    margin: 10px;
    display: flex;
    padding: 10px;
    border-radius: 10px;
    border: 3px solid white;
}

.border textarea{
    margin: 30px auto;
    justify-self: center;
    max-width: 400px;
    max-height: 200px;
    min-width: 200px;
    min-height: 50px;
    width: max-content;
    border-radius: 10px;
    padding: 5px;
    background-color:inherit;
}


.result_wrapper{
    cursor: pointer;
    user-select: none;
    padding: 10px;
    border-radius: 10px;
    color: rgb(0, 0, 0);
    margin: 30px auto;
}


