.UppMenu_wrapper{
    position: relative;
     grid-area: upp;
     border-radius: 10px 10px 0 0;
     padding: 10px;
}

.UppMenu_header{
    position: absolute;
    right: 30px;
    margin-left: 30px;
}

.UppMenu_ul{
    margin-left: 12px;
    display: flex;
    justify-content: start;
}

.UppMenu_li{
    color: gray;
    text-align: center;
    width: 100px;
    background-color:rgb(233, 233, 233);
    border-radius: 10px 10px 0 0;
    list-style: none;
    user-select: none;
    padding: 10px;
    box-shadow: 0 0 4px black;
    transition: all 0.2s linear;
}

.UppMenu_li:hover{
    box-shadow: 0 0 5px black;
    background-color:rgba(231, 224, 214, 0.747);
}
.li_selected {
    color: rgb(0, 0, 0);
    z-index: 2;
    text-align: center;
    width: 100px;
    background-color:rgb(231, 224, 214);
    border-radius: 10px 10px 0 0;
    list-style: none;
    user-select: none;
    padding: 10px;
    box-shadow: 0 0 5px black;
    transition: all 0.05s linear;
}
.UppMenu_ul a{
    display: flex;
    text-decoration: none;
}
